---
http_interactions:
- request:
    method: get
    uri: https://api.chess.com/pub/match/12803/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/MatchBoard.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Etag:
      - W/"b4093f16d4a7d4a8142b8e5b90340ab0"
      Last-Modified:
      - Saturday, 12-Dec-2020 02:04:46 GMT+0000
      X-Chesscom-Matched:
      - pubapi_match_board
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - df5cd4940e34023e1464caefed0d3534
      X-Chesscom-Request-Id-Cdn:
      - 6003e066af593dba-EWR
      X-Chesscom-Servedby:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"board_scores":{"sorinel":1,"kllr":1},"games":[{"url":"https://www.chess.com/game/daily/23794338","pgn":"[Event
        \"WORLD LEAGUE Round 5: Romania vs USA Southwest - Board 1\"]\n[Site \"Chess.com\"]\n[Date
        \"2009.07.14\"]\n[Round \"-\"]\n[White \"sorinel\"]\n[Black \"Kllr\"]\n[Result
        \"1/2-1/2\"]\n[Match \"https://www.chess.com/club/matches/12803\"]\n[CurrentPosition
        \"r3r1k1/4p2p/1pn2bp1/6N1/2p3P1/P6P/1P3P2/R1BR2K1 w - - 3 23\"]\n[Timezone
        \"UTC\"]\n[ECO \"B02\"]\n[ECOUrl \"https://www.chess.com/openings/Alekhines-Defense-Two-Pawns-Attack-3...Nb6\"]\n[UTCDate
        \"2009.07.14\"]\n[UTCTime \"01:02:04\"]\n[WhiteElo \"2699\"]\n[BlackElo \"2671\"]\n[TimeControl
        \"1/259200\"]\n[Termination \"Game drawn by agreement\"]\n[StartTime \"01:02:04\"]\n[EndDate
        \"2009.08.10\"]\n[EndTime \"12:16:05\"]\n[Link \"https://www.chess.com/game/daily/23794338\"]\n\n1.
        e4 Nf6 2. e5 Nd5 3. c4 Nb6 4. Nf3 d6 5. d4 g6 6. exd6 cxd6 7. Be2 Bg7 8. h3
        Nc6 9. Nc3 O-O 10. O-O Bf5 11. a3 Re8 12. Be3 d5 13. g4 Be6 14. c5 Nc4 15.
        Bc1 b6 16. Bxc4 dxc4 17. d5 Bxc3 18. dxe6 Qxd1 19. Rxd1 Bf6 20. cxb6 axb6
        21. exf7+ Kxf7 22. Ng5+ Kg8 1/2-1/2","time_control":"1/259200","end_time":1249906565,"rated":true,"fen":"r3r1k1/4p2p/1pn2bp1/6N1/2p3P1/P6P/1P3P2/R1BR2K1
        w - - 3 23","start_time":1247533324,"time_class":"daily","rules":"chess","white":{"rating":2699,"result":"agreed","@id":"https://api.chess.com/pub/player/sorinel","username":"sorinel"},"black":{"rating":2671,"result":"agreed","@id":"https://api.chess.com/pub/player/kllr","username":"Kllr"},"match":"https://api.chess.com/pub/match/12803"},{"url":"https://www.chess.com/game/daily/23794339","pgn":"[Event
        \"WORLD LEAGUE Round 5: Romania vs USA Southwest - Board 1\"]\n[Site \"Chess.com\"]\n[Date
        \"2009.07.14\"]\n[Round \"-\"]\n[White \"Kllr\"]\n[Black \"sorinel\"]\n[Result
        \"1/2-1/2\"]\n[Match \"https://www.chess.com/club/matches/12803\"]\n[CurrentPosition
        \"8/5p2/3r1kp1/R6p/5P1P/5PK1/8/8 w - - 20 59\"]\n[Timezone \"UTC\"]\n[ECO
        \"C53\"]\n[ECOUrl \"https[...]
