---
http_interactions:
- request:
    method: get
    uri: https://api.chess.com/pub/leaderboards
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/Leaderboards.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Etag:
      - W/"312d8624e2d278224d8d816782081051"
      Last-Modified:
      - Saturday, 12-Dec-2020 02:16:34 GMT+0000
      X-Chesscom-Matched:
      - pubapi_leaderboards
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 6c77f4096ff91e8b9305dedc8b12dd02
      X-Chesscom-Request-Id-Cdn:
      - 6003f1a40b12c5fc-LAX
      X-Chesscom-Servedby:
      - '80'
    body:
      encoding: ASCII-8BIT
      string: '{"daily":[{"player_id":1748537,"@id":"https://api.chess.com/pub/player/julio_becerra","url":"https://www.chess.com/member/Julio_Becerra","username":"Julio_Becerra","score":2805,"rank":1,"country":"https://api.chess.com/pub/country/US","title":"GM","name":"Julio
        Becerra","status":"premium","avatar":"https://images.chesscomfiles.com/uploads/v1/user/1748537.b163366d.200x200o.c84d217025b3.jpeg","trend_score":{"direction":0,"delta":0},"trend_rank":{"direction":1,"delta":1},"flair_code":"diamond_traditional"},{"player_id":7848044,"@id":"https://api.chess.com/pub/player/francisbegbie","url":"https://www.chess.com/member/francisbegbie","username":"francisbegbie","score":2590,"rank":2,"country":"https://api.chess.com/pub/country/XE","title":"FM","name":"Andy
        Mack","status":"premium","avatar":"https://images.chesscomfiles.com/uploads/v1/user/7848044.9d41a5e9.200x200o.2018b3519732.jpeg","trend_score":{"direction":0,"delta":0},"trend_rank":{"direction":1,"delta":5},"flair_cod[...]
