---
http_interactions:
- request:
    method: get
    uri: https://api.chess.com/pub/player/steezymalteezy/games/2020/11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Chesscom-Matched:
      - pubapi_player_games_archive
      Etag:
      - W/"0c8160dab6f8df1e4a76a49cbdd5f5bc"
      Link:
      - <https://api.chess.com/context/Games.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Last-Modified:
      - Sunday, 06-Dec-2020 02:41:30 GMT+0000
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 727c928f226c46237170f9046959e7c3
      X-Chesscom-Request-Id-Cdn:
      - 5fd2a5f46899ccfa-EWR
      X-Chesscom-Servedby:
      - '74'
    body:
      encoding: ASCII-8BIT
      string: '{"games":[{"url":"https://www.chess.com/live/game/5770821419","pgn":"[Event
        \"Live Chess\"]\n[Site \"Chess.com\"]\n[Date \"2020.11.18\"]\n[Round \"-\"]\n[White
        \"cromat18\"]\n[Black \"steezymalteezy\"]\n[Result \"1-0\"]\n[CurrentPosition
        \"rnbqk1nr/pp3Q1p/3b2p1/3pN3/8/8/PPPP1PPP/RNB1KB1R b KQkq -\"]\n[Timezone
        \"UTC\"]\n[ECO \"C40\"]\n[ECOUrl \"https://www.chess.com/openings/Kings-Pawn-Opening-Kings-Knight-Elephant-Gambit-3.exd5\"]\n[UTCDate
        \"2020.11.18\"]\n[UTCTime \"16:38:19\"]\n[WhiteElo \"1199\"]\n[BlackElo \"984\"]\n[TimeControl
        \"600\"]\n[Termination \"cromat18 won by checkmate\"]\n[StartTime \"16:38:19\"]\n[EndDate
        \"2020.11.18\"]\n[EndTime \"16:40:35\"]\n[Link \"https://www.chess.com/live/game/5770821419\"]\n\n1.
        e4 {[%clk 0:09:59.9]} 1... e5 {[%clk 0:09:54.8]} 2. Nf3 {[%clk 0:09:58.5]}
        2... d5 {[%clk 0:09:43.4]} 3. exd5 {[%clk 0:09:49.2]} 3... c6 {[%clk 0:09:27.5]}
        4. Nxe5 {[%clk 0:09:31]} 4... cxd5 {[%clk 0:09:09.5]} 5. Qh5 {[%clk 0:09:08]}
        5... g6 {[%clk 0:09:02.9]} 6. Qf3 {[%clk 0:09:03.5]} 6... Bd6 {[%clk 0:08:46.3]}
        7. Qxf7# {[%clk 0:09:01.3]} 1-0","time_control":"600","end_time":1605717635,"rated":true,"fen":"rnbqk1nr/pp3Q1p/3b2p1/3pN3/8/8/PPPP1PPP/RNB1KB1R
        b KQkq -","time_class":"rapid","rules":"chess","white":{"rating":1199,"result":"win","@id":"https://api.chess.com/pub/player/cromat18","username":"cromat18"},"black":{"rating":984,"result":"checkmated","@id":"https://api.chess.com/pub/player/steezymalteezy","username":"steezymalteezy"}},{"url":"https://www.chess.com/live/game/5770852544","pgn":"[Event
        \"Live Chess\"]\n[Site \"Chess.com\"]\n[Date \"2020.11.18\"]\n[Round \"-\"]\n[White
        \"vosss5\"]\n[Black \"steezymalteezy\"]\n[Result \"1-0\"]\n[CurrentPosition
        \"r4rk1/pppqb1Qp/4p3/8/n1P1N3/3P4/PBP2PPP/R4RK1 b - -\"]\n[Timezone \"UTC\"]\n[ECO
        \"C42\"]\n[ECOUrl \"https://www.chess[...]
