---
http_interactions:
- request:
    method: get
    uri: https://api.chess.com/pub/tournament/-33rd-chesscom-quick-knockouts-1401-1600/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/TournamentRound.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Etag:
      - W/"07ef62ddf11d6bb23e4747c724077d6e"
      Last-Modified:
      - Saturday, 12-Dec-2020 01:59:56 GMT+0000
      X-Chesscom-Matched:
      - pubapi_tournament_rounds
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - bbb62e5b18ab7b0d825be80fdedb138f
      X-Chesscom-Request-Id-Cdn:
      - 6003d9528f053e52-EWR
      X-Chesscom-Servedby:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"groups":["https://api.chess.com/pub/tournament/-33rd-chesscom-quick-knockouts-1401-1600/1/1","https://api.chess.com/pub/tournament/-33rd-chesscom-quick-knockouts-1401-1600/1/2","https://api.chess.com/pub/tournament/-33rd-chesscom-quick-knockouts-1401-1600/1/3","https://api.chess.com/pub/tournament/-33rd-chesscom-quick-knockouts-1401-1600/1/4","https://api.chess.com/pub/tournament/-33rd-chesscom-quick-knockouts-1401-1600/1/5","https://api.chess.com/pub/tournament/-33rd-chesscom-quick-knockouts-1401-1600/[...]
- request:
    method: get
    uri: https://api.chess.com/pub/tournament/-33rd-chesscom-quick-knockouts-1401-1600/1/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/TournamentRoundGroup.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      X-Chesscom-Matched:
      - pubapi_tournament_round_groups
      Etag:
      - W/"641ddbbff94764c371d2ab0c6cf81201"
      Last-Modified:
      - Saturday, 12-Dec-2020 02:01:02 GMT+0000
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 105a5c566ae851197faa9bdbced4ef53
      X-Chesscom-Request-Id-Cdn:
      - 6003daec2b6d154e-EWR
      X-Chesscom-Servedby:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"fair_play_removals":[],"games":[{"url":"https://www.chess.com/game/daily/138891582","pgn":"[Event
        \"33rd Chess.com Quick Knockouts (1401-1600) - Round 1\"]\n[Site \"Chess.com\"]\n[Date
        \"2016.07.02\"]\n[Round \"-\"]\n[White \"Rockaround\"]\n[Black \"mrtn\"]\n[Result
        \"1/2-1/2\"]\n[Tournament \"https://www.chess.com/tournament/-33rd-chesscom-quick-knockouts-1401-1600\"]\n[CurrentPosition
        \"8/8/8/8/8/2B5/3k4/1K6 b - - 0 69\"]\n[Timezone \"UTC\"]\n[ECO \"C47\"]\n[ECOUrl
        \"https://www.chess.com/openings/Four-Knights-Game-Italian-Variation\"]\n[UTCD[...]
- request:
    method: get
    uri: https://api.chess.com/pub/match/12803
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Chesscom-Matched:
      - pubapi_match
      Etag:
      - W/"779660125e41addd835ecc9527579b84"
      Link:
      - <https://api.chess.com/context/Match.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Last-Modified:
      - Saturday, 12-Dec-2020 02:03:00 GMT+0000
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 7b83b0ab86450e8713ef6ad28d6ac7d8
      X-Chesscom-Request-Id-Cdn:
      - 6003ddce6d360c95-EWR
      X-Chesscom-Servedby:
      - '73'
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.chess.com/pub/match/12803","name":"WORLD LEAGUE
        Round 5: Romania vs USA Southwest","url":"https://www.chess.com/club/matches/12803","start_time":1247533336,"end_time":1263109104,"status":"finished","boards":54,"settings":{"rules":"chess","time_class":"daily","time_control":"1/259200","min_team_players":1,"min_required_games":0,"autostart":false},"teams":{"team1":{"@id":"https://api.chess.com/pub/club/team-romania","name":"Team
        Romania","url":"https://www.chess.com/club/team-romania","score":61.5,"result":"win","players":[{"username":"aayeah-bwoy","stats":"https://api.chess.com/pub/player/aayeah-bwoy/stats","status":"basic","played_as_black":"checkmated","played_as_white":"resigned","board":"https://api.chess.com/pub/match/12803/45"},{"username":"apopescu","stats":"https://api.chess.com/pub/player/apopescu/stats","status":"basic","played_as_white":"win","played_as_black":"resigned","board":"https://api.chess.com/pub/match/12803/38"},{"username":"arpadkoblos","stats":"https://api.chess.com/pub/player/arpadkoblos/stats","status":"closed","played_as_white":"win","played_as_black":"win","board":"https://api.chess.com/pub/match/12803/7"},{"username":"arsenedu","stats":"https://api.chess[...]
- request:
    method: get
    uri: https://api.chess.com/pub/match/12803/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/MatchBoard.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Etag:
      - W/"b4093f16d4a7d4a8142b8e5b90340ab0"
      Last-Modified:
      - Saturday, 12-Dec-2020 02:04:46 GMT+0000
      X-Chesscom-Matched:
      - pubapi_match_board
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - df5cd4940e34023e1464caefed0d3534
      X-Chesscom-Request-Id-Cdn:
      - 6003e066af593dba-EWR
      X-Chesscom-Servedby:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"board_scores":{"sorinel":1,"kllr":1},"games":[{"url":"https://www.chess.com/game/daily/23794338","pgn":"[Event
        \"WORLD LEAGUE Round 5: Romania vs USA Southwest - Board 1\"]\n[Site \"Chess.com\"]\n[Date
        \"2009.07.14\"]\n[Round \"-\"]\n[White \"sorinel\"]\n[Black \"Kllr\"]\n[Result
        \"1/2-1/2\"]\n[Match \"https://www.chess.com/club/matches/12803\"]\n[CurrentPosition
        \"r3r1k1/4p2p/1pn2bp1/6N1/2p3P1/P6P/1P3P2/R1BR2K1 w - - 3 23\"]\n[Timezone
        \"UTC\"]\n[ECO \"B02\"]\n[ECOUrl \"https://www.chess.com/openings/Alekhines-Defense-Two-Pawns-Attack-3...Nb6\"]\n[UTCDate
        \"2009.07.14\"]\n[UTCTime \"01:02:04\"]\n[WhiteElo \"2699\"]\n[BlackElo \"2671\"]\n[TimeControl
        \"1/259200\"]\n[Termination \"Game drawn by agreement\"]\n[StartTime \"01:02:04\"]\n[EndDate
        \"2009.08.10\"]\n[EndTime \"12:16:05\"]\n[Link \"https://www.chess.com/game/daily/23794338\"]\n\n1.
        e4 Nf6 2. e5 Nd5 3. c4 Nb6 4. Nf3 d6 5. d4 g6 6. exd6 cxd6 7. Be2 Bg7 8. h3
        Nc6 9. Nc3 O-O 10. O-O Bf5 11. a3 Re8 12. Be3 d5 13. g4 Be6 14. c5 Nc4 15.
        Bc1 b6 16. Bxc4 dxc4 17. d5 Bxc3 18. dxe6 Qxd1 19. Rxd1 Bf6 20. cxb6 axb6
        21. exf7+ Kxf7 22. Ng5+ Kg8 1/2-1/2","time_control":"1/259200","end_time":1249906565,"rated":true,"fen":"r3r1k1/4p2p/1pn2bp1/6N1/2p3P1/P6P/1P3P2/R1BR2K1
        w - - 3 23","start_time":1247533324,"time_class":"daily","rules":"chess","white":{"rating":2699,"result":"agreed","@id":"https://api.chess.com/pub/player/sorinel","username":"sorinel"},"black":{"rating":2671,"result":"agreed","@id":"https://api.chess.com/pub/player/kllr","username":"Kllr"},"match":"https://api.chess.com/pub/match/12803"},{"url":"https://www.chess.com/game/daily/23794339","pgn":"[Event
        \"WORLD LEAGUE Round 5: Romania vs USA Southwest - Board 1\"]\n[Site \"Chess.com\"]\n[Date
        \"2009.07.14\"]\n[Round \"-\"]\n[White \"Kllr\"]\n[Black \"sorinel\"]\n[Result
        \"1/2-1/2\"]\n[Match \"https://www.chess.com/club/matches/12803\"]\n[CurrentPosition
        \"8/5p2/3r1kp1/R6p/5P1P/5PK1/8/8 w - - 20 59\"]\n[Timezone \"UTC\"]\n[ECO
        \"C53\"]\n[ECOUrl \"https[...]
[...]
- request:
    method: get
    uri: https://api.chess.com/pub/match/live/5833
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/Match.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Etag:
      - W/"0411443948641c078969aeeeb425d7d6"
      Last-Modified:
      - Saturday, 12-Dec-2020 02:05:50 GMT+0000
      X-Chesscom-Matched:
      - pubapi_match_live
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 473d7353117eac7036fe16e218e6a99f
      X-Chesscom-Request-Id-Cdn:
      - 6003e1f3092d3dcc-EWR
      X-Chesscom-Servedby:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.chess.com/pub/match/live/5833","name":"Friendly
        5+2","url":"https://www.chess.com/club/matches/live/5833","start_time":1579471260,"end_time":1579472487,"status":"finished","boards":6,"settings":{"rules":"chess","time_class":"blitz","time_control":300,"time_increment":2,"min_team_players":2,"min_required_games":0,"autostart":false},"teams":{"team1":{"@id":"https://api.chess.com/pub/club/lynx-club","name":"Lynx
        Club","url":"https://www.chess.com/club/lynx-club","score":7,"result":"win","players":[{"username":"guilhermekk","stats":"https://api.chess.com/pub/player/guilhermekk/stats","status":"basic","played_as_white":"win","played_as_black":"resigned","board":"https://api.chess.com/pub/match/live/5833/4"},{"username":"insan3_7","stats":"https://api.ches[...]
- request:
    method: get
    uri: https://api.chess.com/pub/match/5833/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/MatchBoard.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Etag:
      - W/"096eb164f295d059c72d51a0ab9f0cf0"
      Last-Modified:
      - Saturday, 12-Dec-2020 02:06:59 GMT+0000
      X-Chesscom-Matched:
      - pubapi_match_board
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 7def3e1a67a01a9551e54f417a51e870
      X-Chesscom-Request-Id-Cdn:
      - 6003e3a75dcfc5ec-EWR
      X-Chesscom-Servedby:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"board_scores":{"veruska":2,"roctiv":0},"games":[{"url":"https://www.chess.com/game/daily/17969047","pgn":"[Event
        \"Rapid Team Match (>2000) - Board 1\"]\n[Site \"Chess.com\"]\n[Date \"2009.04.03\"]\n[Round
        \"-\"]\n[White \"Veruska\"]\n[Black \"roctiv\"]\n[Result \"1-0\"]\n[Match
        \"https://www.chess.com/club/matches/5833\"]\n[CurrentPosition \"r7/pbBpPk2/1p1P2pp/1p2R1p1/8/1P5P/P4KP1/8
        b - - 1 28\"]\n[Timezone \"UTC\"]\n[ECO \"B00\"]\n[ECOUrl \"https://www.chess.com/openings/Nimzowitsch-Defense-Declin[...]
- request:
    method: get
    uri: https://api.chess.com/pub/country/CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Chesscom-Matched:
      - pubapi_country
      Etag:
      - W/"3299af41bfee6c6549f3d0ea9ee67ab6"
      Link:
      - <https://api.chess.com/context/Country.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Last-Modified:
      - Friday, 27-Nov-2020 22:13:47 GMT+0000
      X-Chesscom-Meta:
      - lean=cached
      X-Chesscom-Request-Id-Lb:
      - 84ab50379d180b677856a072c989953c
      X-Chesscom-Request-Id-Cdn:
      - 5feae0703b4d0cb1-EWR
      X-Chesscom-Servedby:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.chess.com/pub/country/CA","code":"CA","name":"Canada"}'
  recorded_at: Sat, 12 Dec 2020 02:07:33 GMT
- request:
    method: get
    uri: https://api.chess.com/pub/country/CA/players
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/CountryPlayers.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Etag:
      - W/"5dc7b18ba73759f24f352e461bfc4186"
      Last-M[...]
