---
http_interactions:
- request:
    method: get
    uri: https://api.chess.com/pub/match/5833/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/MatchBoard.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Etag:
      - W/"096eb164f295d059c72d51a0ab9f0cf0"
      Last-Modified:
      - Saturday, 12-Dec-2020 02:06:59 GMT+0000
      X-Chesscom-Matched:
      - pubapi_match_board
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 7def3e1a67a01a9551e54f417a51e870
      X-Chesscom-Request-Id-Cdn:
      - 6003e3a75dcfc5ec-EWR
      X-Chesscom-Servedby:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"board_scores":{"veruska":2,"roctiv":0},"games":[{"url":"https://www.chess.com/game/daily/17969047","pgn":"[Event
        \"Rapid Team Match (>2000) - Board 1\"]\n[Site \"Chess.com\"]\n[Date \"2009.04.03\"]\n[Round
        \"-\"]\n[White \"Veruska\"]\n[Black \"roctiv\"]\n[Result \"1-0\"]\n[Match
        \"https://www.chess.com/club/matches/5833\"]\n[CurrentPosition \"r7/pbBpPk2/1p1P2pp/1p2R1p1/8/1P5P/P4KP1/8
        b - - 1 28\"]\n[Timezone \"UTC\"]\n[ECO \"B00\"]\n[ECOUrl \"https://www.chess.com/openings/Nimzowitsch-Defense-Declined-2...Nf6\"]\n[UTCDate
        \"2009.04.03\"]\n[UTCTime \"13:52:24\"]\n[WhiteElo \"2383\"]\n[BlackElo \"2226\"]\n[TimeControl
        \"1/86400\"]\n[Termination \"Veruska won on time\"]\n[StartTime \"13:52:24\"]\n[EndDate
        \"2009.04.18\"]\n[EndTime \"11:02:25\"]\n[Link \"https://www.chess.com/game/daily/17969047\"]\n\n1.
        e4 Nc6 2. Nf3 Nf6 3. Nc3 e5 4. Bb5 Bc5 5. O-O O-O 6. Nxe5 Nxe5 7. d4 Bd6 8.
        f4 Ng6 9. e5 c6 10. exf6 cxb5 11. Nd5 b6 12. f5 Bb7 13. fxg6 fxg6 14. Bg5
        Qc8 15. Ne7+ Bxe7 16. fxe7 Rxf1+ 17. Qxf1 Qxc2 18. Qf2 Qxf2+ 19. Kxf2 h6 20.
        Bf4 Kf7 21. Bd6 Re8 22. Re1 Rg8 23. b3 g5 24. h3 Bc6 25. Re5 g6 26. d5 Bb7
        27. Bc7 Ra8 28. d6 1-0","time_control":"1/86400","end_time":1240052545,"rated":true,"fen":"r7/pbBpPk2/1p1P2pp/1p2R1p1/8/1P5P/P4KP1/8
        b - - 1 28","start_time":1238766744,"time_class":"daily","rules":"chess","white":{"rating":2383,"result":"win","@id":"https://api.chess.com/pub/player/veruska","username":"Veruska"},"black":{"rating":2226,"result":"timeout","@id":"https://api.chess.com/pub/player/roctiv","username":"roctiv"},"match":"https://api.chess.com/pub/match/5833"},{"url":"https://www.chess.com/game/daily/17969048","pgn":"[Event
        \"Rapid Team Match (>2000) - Board 1\"]\n[Site \"Chess.com\"]\n[Date \"2009.04.03\"]\n[Round
        \"-\"]\n[White \"roctiv\"]\n[Black \"Veruska\"]\n[Result \"0-1\"]\n[Match
        \"https://www.chess.com/club/matches/5833\"]\n[CurrentPosition \"4k1r1/p1p2pPp/1p6/4P1P1/3b3N/1b5P/6K1/5R2
        w - - 1 29\"]\n[Timezone \"UTC\"]\n[ECO \"D02\"]\n[ECOUrl \"https://www.chess.com/opening[...]
