---
http_interactions:
- request:
    method: get
    uri: https://api.chess.com/pub/club/chess-com-developer-community
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/Club.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Etag:
      - W/"1727623e619245d99c459e96840dfe44"
      Last-Modified:
      - Saturday, 12-Dec-2020 01:51:24 GMT+0000
      X-Chesscom-Matched:
      - pubapi_club
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 5403ba42bc60d9e43d1e9802268ecac6
      X-Chesscom-Request-Id-Cdn:
      - 6003ccd13edb3dc1-EWR
      X-Chesscom-Servedby:
      - '61'
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.chess.com/pub/club/chess-com-developer-community","name":"Chess.com
        Developer Community","club_id":57796,"country":"https://api.chess.com/pub/country/XX","average_daily_rating":1151,"members_count":3212,"created":1500301978,"last_activity":1598966974,"admin":["https://api.chess.com/pub/player/erik","https://api.chess.com/pub/player/bcurtis","https://api.chess.com/pub/player/jdcannon","https://api.chess.com/pub/player/andreamorandini"],"visibility":"public","join_request":"https://www.chess.com/club/join/57796","icon":"https://images.chesscomfiles.com/uploads/v1/group/57796.67ee0038.50x50o.585842f67281.png","description":"<p>Chess.com''s
        official club for APIs, data, and code for developers.\u00a0Get involved!<br
        /><br /></p>\n<p><a href=\"https://www.chess.com/news/view/published-data-api\"><a
        href=\"https://www.chess.com/news/view/published-data-api\">https://www.chess.com/news/view/published-data-api</a></a><br
        /><a href=\"https://www.npmjs.com/package/chess-web-api\" target=\"_blank\"
        rel=\"noreferrer noopener\"><a href=\"https://www.npmjs.com/package/chess-web-api\"
        target=\"_blank\">https://www.npmjs.com/package/chess-web-api</a></a><br /><a
        href=\"https://github.com/ChessCom/ios-chessclock\" target=\"_blank\" rel=\"noreferrer
        noopener\"><a href=\"https://github.com/ChessCom/ios-chessclock\" target=\"_blank\">https://github.com/ChessCom/ios-chessclock</a></a><br
        /><a href=\"https://github.com/ChessCom/android-chessclock\" target=\"_blank\"
        rel=\"noreferrer noopener\"><a href=\"https://github.com/ChessCom/android-chessclock\"
        target=\"_blank\">https://github.com/ChessCom/android-chessclock</a></a></p>\n<p><br
        />Our <a href=\"https://www.chess.com/news/view/chess-com-bug-bounty-policy\">Bug
        Bounty Policy</a> is available <a href=\"https://www.chess.com/news/view/chess-com-bug-bounty-policy\">here</a>.\u00a0</p>","url":"https://www.chess.com/club/chess-com-developer-community"}'
  recorded_at: Sat, 12 Dec 2020 01:58:29 GMT
recorded_with: VCR 6.0.0
