---
http_interactions:
- request:
    method: get
    uri: https://api.chess.com/pub/player/steezymalteezy/clubs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Chesscom-Matched:
      - pubapi_player_clubs
      Etag:
      - W/"68d26e3bf5c29361f8c0bfeff16a4862"
      Link:
      - <https://api.chess.com/context/PlayerClubs.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Last-Modified:
      - Saturday, 12-Dec-2020 01:45:20 GMT+0000
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 6a15fc736ae626287e86f0366e7206fc
      X-Chesscom-Request-Id-Cdn:
      - 6003c3efee610c91-EWR
      X-Chesscom-Servedby:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"clubs":[{"@id":"https://www.chess.com/club/chess-com-developer-community","name":"Chess.com
        Developer Community","last_activity":1607522118,"icon":"https://images.chesscomfiles.com/uploads/v1/group/57796.67ee0038.50x50o.585842f67281.png","url":"https://www.chess.com/club/chess-com-developer-community","joined":1605725577}]}'
  recorded_at: Sat, 12 Dec 2020 01:45:20 GMT
- request:
    method: get
    uri: https://api.chess.com/pub/player/steezymalteezy/tournaments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Chesscom-Matched:
      - pubapi_player_tournaments
      Etag:
      - W/"52db0eabaf4d7089a0670a1042cf5367"
      Link:
      - <https://api.chess.com/context/PlayerTournaments.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Last-Modified:
      - Saturday, 12-Dec-2020 01:45:54 GMT+0000
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - ec1e72d07bb36cd8e886fdc9ea1575d6
      X-Chesscom-Request-Id-Cdn:
      - 6003c4c05c5ae6e8-EWR
      X-Chesscom-Servedby:
      - '80'
    body:
      encoding: ASCII-8BIT
      string: '{"finished":[],"in_progress":[],"registered":[]}'
  recorded_at: Sat, 12 Dec 2020 01:45:54 GMT
- request:
    method: get
    uri: https://api.chess.com/pub/player/steezymalteezy/matches
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Chesscom-Matched:
      - pubapi_player_matches
      Etag:
      - W/"52db0eabaf4d7089a0670a1042cf5367"
      Last-Modified:
      - Saturday, 12-Dec-2020 01:48:54 GMT+0000
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 1df651c6187b23f68c2e8dec7c305b92
      X-Chesscom-Request-Id-Cdn:
      - 6003c92829320ce9-EWR
      X-Chesscom-Servedby:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"finished":[],"in_progress":[],"registered":[]}'
  recorded_at: Sat, 12 Dec 2020 01:48:54 GMT
- request:
    method: get
    uri: https://api.chess.com/pub/club/chess-com-developer-community
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/Club.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Etag:
      - W/"1727623e619245d99c459e96840dfe44"
      Last-Modified:
      - Saturday, 12-Dec-2020 01:51:24 GMT+0000
      X-Chesscom-Matched:
      - pubapi_club
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 5403ba42bc60d9e43d1e9802268ecac6
      X-Chesscom-Request-Id-Cdn:
      - 6003ccd13edb3dc1-EWR
      X-Chesscom-Servedby:
      - '61'
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.chess.com/pub/club/chess-com-developer-community","name":"Chess.com
        Developer Community","club_id":57796,"country":"https://api.chess.com/pub/country/XX","average_daily_rating":1151,"members_count":3212,"created":1500301978,"last_activity":1598966974,"admin":["https://api.chess.com/pub/player/erik","https://api.chess.com/pub/player/bcurtis","https://api.chess.com/pub/player/jdcannon","https://api.chess.com/pub/player/andreamorandini"],"visibility":"public","join_request":"https://www.chess.com/club/join/57796","icon":"https://images.chesscomfiles.com/uploads/v1/group/57796.67ee0038.50x50o.585842f67281.png","description":"<p>Chess.com''s
        official club for APIs, data, and code for developers.\u00a0Get involved!<br
        /><br /></p>\n<p><a href=\"https://www.chess.com/news/view/published-data-api\"><a
        href=\"https://www.chess.com/news/view/published-data-api\">https://www.chess.com/news/view/published-data-api</a></a><br
        /><a href=\"https://www.npmjs.com/package/chess-web-api\" target=\"_blank\"
        rel=\"noreferrer noopener\"><a href=\"https://www.npmjs.com/package/chess-web-api\"
        target=\"_blank\">https://www.npmjs.com/package/chess-web-api</a></a><br /><a
        href=\"https://github.com/ChessCom/ios-chessclock\" target=\"_blank\" rel=\"noreferrer
        noopener\"><a href=\"https://github.com/ChessCom/ios-chessclock\" target=\"_blank\">https://github.com/ChessCom/ios-chessclock</a></a><br
        /><a href=\"https://github.com/ChessCom/android-chessclock\" target=\"_blank\"
        rel=\"noreferrer noopener\"><a href=\"https://github.com/ChessCom/android-chessclock\"
        target=\"_blank\">https://github.com/ChessCom/android-chessclock</a></a></p>\n<p><br
        />Our <a href=\"https://www.chess.com/news/view/chess-com-bug-bounty-policy\">Bug
        Bounty Policy</a> is available <a href=\"https://www.chess.com/news/view/chess-com-bug-bounty-policy\">here</a>.\u00a0</p>","url":"https://www.chess.com/club/chess-com-developer-community"}'
  recorded_at: Sat, 12 Dec 2020 01:51:24 GMT
- request:
    method: get
    uri: https://api.chess.com/pub/club/chess-com-developer-community/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Chesscom-Matched:
      - pubapi_club_members
      Etag:
      - W/"7577fbd8263269f11a0c7c798bd8039b"
      Last-Modified:
      - Saturday, 12-Dec-2020 01:52:41 GMT+0000
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 82861b1bde57b95d9ec535781e1250ad
      X-Chesscom-Request-Id-Cdn:
      - 6003ceb20985efd8-EWR
      X-Chesscom-Servedby:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"weekly":[{"username":"1d3_1-0","joined":1607185660},{"username":"2004krishnaomdas","joined":1585924920},{"username":"2kf21-0","joined":1607145697},{"username":"52yrral","joined":1599920365},{"username":"7ania7","joined":1573317101},{"username":"aarjona","joined":1607548769},{"username":"aarojghn","joined":1560033717},{"username":"abhinav0121","joined":1600314771},{"username":"agentfox481","joined":1599069941},{"username":"aidan-smith","joined":1596653385},{"username":"ajgreen","joined":1605012877},{"username":"ajitr[...]
[...]
- request:
    method: get
    uri: https://api.chess.com/pub/club/chess-com-developer-community/matches
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/ClubMatches.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      X-Chesscom-Matched:
      - pubapi_club_matches
      Etag:
      - W/"52db0eabaf4d7089a0670a1042cf5367"
      Last-Modified:
      - Saturday, 12-Dec-2020 01:56:17 GMT+0000
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 16a9af57a32595fe984824f0f69b54b8
      X-Chesscom-Request-Id-Cdn:
      - 6003d3f9f9cff03d-EWR
      X-Chesscom-Servedby:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"finished":[],"in_progress":[],"registered":[]}'
  recorded_at: Sat, 12 Dec 2020 01:56:17 GMT
- request:
    method: get
    uri: https://api.chess.com/pub/tournament/-33rd-chesscom-quick-knockouts-1401-1600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/Tournament.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      X-Chesscom-Matched:
      - pubapi_tournament
      Etag:
      - W/"e626332f7fcfe68ad455911348c4a3fc"
      Last-Modified:
      - Tuesday, 08-Dec-2020 07:13:45 GMT+0000
      X-Chesscom-Meta:
      - lean=cached
      X-Chesscom-Request-Id-Lb:
      - 1cdd1f4bbce5ab387813c7af94f1af31
      X-Chesscom-Request-Id-Cdn:
      - 5fea5dc07abf154a-EWR
      X-Chesscom-Servedby:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"33rd Chess.com Quick Knockouts (1401-1600)","url":"https://www.chess.com/tournament/-33rd-chesscom-quick-knockouts-1401-1600","description":"<p><span
        style=\"color: #222222; font-family: ''trebuchet ms'', arial, sans-serif;
        font-size: 14px; line-height: 14.9333px;\">This is the 33rd RAPID Chess.com
        Tournament! Only players who play their games QUICKLY (who have a low Avg.
        Time per Move) and who have completed 5 games already can register. Games
        have a 1 day time control and the games in the round start immediately! (That
        is 10 games starting right away and going fast!!)</span></p>","creator":"Patzer24","status":"finished","finish_time":1483511043,"settings":{"type":"round_robin","rules":"chess","is_rated":true,"is_official":true,"is_invite_only":false,"min_rating":1401,"max_rating":1600,"initial_group_size":6,"user_advance_count":1,"use_tiebreak":true,"allow_vacation":true,"winner_places":3,"registered_user_count":399,"games_per_opponent":2,"total_rounds":4,"concurrent_games_per_opponent":2,"time_class":"daily","time_control":"1/86400"},"players":[{"username":"egoigwe","status":"removed"},{"username":"spice","status":"eliminated"},{"username":"kilgore","status":"eliminated"},{"username":"terry-holliday","status":"eliminated"},{"username":"akhlakur","status":"eliminated"},{"username":"jdunphy","status":"eliminated"},{"username":"mancroft","status":"eliminated"},{"username":"pblack","status":"eliminated"},{"username":"bullrot-be","status":"eliminated"},{"username":"wolfshien","status":"eliminated"},{"username":"sheldon_collier","status":"e[...]
