---
http_interactions:
- request:
    method: get
    uri: https://api.chess.com/pub/player/steezymalteezy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Chesscom-Matched:
      - pubapi_player_profile
      Etag:
      - W/"a1db46b202a836fdffa7cb295ea26d28"
      Link:
      - <https://api.chess.com/context/Player.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Last-Modified:
      - Sunday, 06-Dec-2020 00:46:36 GMT+0000
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - b4afd9496333a93e41bf8233b38ac4d3
      X-Chesscom-Request-Id-Cdn:
      - 5fd1fda4ae443dbb-EWR
      X-Chesscom-Servedby:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"avatar":"https://images.chesscomfiles.com/uploads/v1/user/27146560.10c23b26.200x200o.6a22d0c359cd.jpeg","player_id":27146560,"@id":"https://api.chess.com/pub/player/steezymalteezy","url":"https://www.chess.com/member/steezymalteezy","name":"Chris
        Maltais","username":"steezymalteezy","followers":0,"country":"https://api.chess.com/pub/country/CA","last_online":1606762717,"joined":1457532791,"status":"premium","is_streamer":false}'
  recorded_at: Sun, 06 Dec 2020 02:05:11 GMT
recorded_with: VCR 6.0.0
