---
http_interactions:
- request:
    method: get
    uri: https://api.chess.com/pub/streamers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/Streamers.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Etag:
      - W/"0a30f2e3dd5b5d62e1e2873ec50830e5"
      Last-Modified:
      - Saturday, 12-Dec-2020 02:15:49 GMT+0000
      X-Chesscom-Matched:
      - pubapi_streamers
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - fcefe0ac6cdb9683f64aac6300285591
      X-Chesscom-Request-Id-Cdn:
      - 6003f08938c315d3-EWR
      X-Chesscom-Servedby:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"streamers":[{"username":"GMAshley","avatar":"https://images.chesscomfiles.com/uploads/v1/user/9194996.d712e3ce.50x50o.8060ad28ce71.jpg","twitch_url":"https://twitch.tv/GMAshley","url":"https://www.chess.com/member/GMAshley","is_live":true},{"username":"GMBenjaminFinegold","avatar":"https://images.chesscomfiles.com/uploads/v1/user/32076054.611f6b88.50x50o.b34120ef650c.jpeg","twitch_url":"https://twitch.tv/GMBenjaminFinegold","url":"https://www.chess.com/member/GMBenjaminFinegold","is_live":true},{"username":"Jospem","avatar":"https://images.chesscomfiles.com/uploads/v1/user/26867272.87be9fe5.50x50o.787cefcfd5a1.jpeg","twitch_url":"https://twitch.tv/JoseMvp31","url":"https://www.chess.com/member/Jospem","is_live":true},{"usern[...]
