---
http_interactions:
- request:
    method: get
    uri: https://api.chess.com/pub/player/steezymalteezy/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Chesscom-Matched:
      - pubapi_player_stats
      Etag:
      - W/"d64e34b6c88beb3462392967420b7c47"
      Last-Modified:
      - Sunday, 06-Dec-2020 00:39:32 GMT+0000
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 92950f2fe2d5ed722e4c9ab90fce187c
      X-Chesscom-Request-Id-Cdn:
      - 5fd1f348dc3de6c0-EWR
      X-Chesscom-Servedby:
      - '62'
    body:
      encoding: ASCII-8BIT
      string: '{"chess_daily":{"last":{"rating":1278,"date":1458135404,"rd":288},"best":{"rating":1278,"date":1458135404,"game":"https://www.chess.com/game/daily/130818094"},"record":{"win":2,"loss":0,"draw":0,"time_per_move":3219,"timeout_percent":0}},"chess_rapid":{"last":{"rating":1148,"date":1605806139,"rd":136},"best":{"rating":1200,"date":1457532791,"game":"https://www.chess.com/live/game/5772211838"},"record":{"win":4,"loss":3,"draw":0}},"chess_bullet":{"last":{"rating":1462,"date":1458017324,"rd":295},"record":{"win":1,"loss":0,"draw":0}},"tactics":{"highest":{"rating":1004,"date":1457897802},"lowest":{"rating":579,"date":1458017368}},"lessons":{},"puzzle_rush":{}}'
  recorded_at: Sun, 06 Dec 2020 01:57:37 GMT
recorded_with: VCR 6.0.0
