---
http_interactions:
- request:
    method: get
    uri: https://api.chess.com/pub/match/live/5833
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.chess.com/context/Match.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      Etag:
      - W/"0411443948641c078969aeeeb425d7d6"
      Last-Modified:
      - Saturday, 12-Dec-2020 02:05:50 GMT+0000
      X-Chesscom-Matched:
      - pubapi_match_live
      X-Chesscom-Meta:
      - lean=published
      X-Chesscom-Request-Id-Lb:
      - 473d7353117eac7036fe16e218e6a99f
      X-Chesscom-Request-Id-Cdn:
      - 6003e1f3092d3dcc-EWR
      X-Chesscom-Servedby:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.chess.com/pub/match/live/5833","name":"Friendly
        5+2","url":"https://www.chess.com/club/matches/live/5833","start_time":1579471260,"end_time":1579472487,"status":"finished","boards":6,"settings":{"rules":"chess","time_class":"blitz","time_control":300,"time_increment":2,"min_team_players":2,"min_required_games":0,"autostart":false},"teams":{"team1":{"@id":"https://api.chess.com/pub/club/lynx-club","name":"Lynx
        Club","url":"https://www.chess.com/club/lynx-club","score":7,"result":"win","players":[{"username":"guilhermekk","stats":"https://api.chess.com/pub/player/guilhermekk/stats","status":"basic","played_as_white":"win","played_as_black":"resigned","board":"https://api.chess.com/pub/match/live/5833/4"},{"username":"insan3_7","stats":"https://api.chess.com/pub/player/insan3_7/stats","status":"premium","played_as_black":"checkmated","played_as_white":"win","board":"https://api.chess.com/pub/match/live/5833/1"},{"username":"jydra21","stats":"https://api.chess.com/pub/player/jydra21/stats","status":"basic","played_as_black":"checkmated","played_as_white":"insufficient","board":"https://api.chess.com/pub/match/live/5833/5"},{"username":"luisen17","stats":"https://api.chess.com/pub/player/luisen17/stats","status":"premium","played_as_white":"win","played_as_black":"win","board":"https://api.chess.com/pub/match/live/5833/2"},{"username":"my_chemica1_cha0s","stats":"https://api.chess.com/pub/player/my_chemica1_cha0s/stats","status":"premium","played_as_white":"win","played_as_black":"win","board":"https://api.chess.com/pub/match/live/5833/6"},{"username":"rahara1988","stats":"https://api.chess.com/pub/player/rahara1988/stats","status":"basic","played_as_black":"checkmated","played_as_white":"agreed","board":"https://api.chess.com/pub/match/live/5833/3"}],"fair_play_removals":[]},"team2":{"@id":"https://api.chess.com/pub/club/not-so-pro-chess-league","name":"Not-So
        PRO Chess League","url":"https://www.chess.com/club/not-so-pro-chess-league","score":5,"result":"lose","players":[{"username":"25elevin","stats":"https://api.chess.com/pub/player/25elevin/stats","status":"basic","played_as_black":"timeout","played_as_white":"timeout","board":"https://api.chess.com/pub/match/live/5833/2"},{"username":"alexkotow","stats":"https://api.chess.com/pub/player/alexkotow/stats","status":"basic","played_as_black":"resigned","played_as_white":"resigned","board":"https://api.chess.com/pub/match/live/5833/6"},{"username":"checkmatemark04","stats":"https://api.chess.com/pub/player/checkmatemark04/stats","status":"closed","played_as_white":"win","played_as_black":"agreed","board":"https://api.chess.com/pub/match/live/5833/3"},{"username":"edr0nt","stats":"https://api.chess.com/pub/player/edr0nt/stats","status":"closed","played_as_white":"win","played_as_black":"checkmated","board":"https://api.chess.com/pub/match/live/5833/1"},{"username":"stompall","stats":"https://api.chess.com/pub/player/stompall/stats","status":"basic","played_as_white":"win","played_as_black":"insufficient","board":"https://api.chess.com/pub/match/live/5833/5"},{"username":"vicvonj","stats":"https://api.chess.com/pub/player/vicvonj/stats","status":"basic","played_as_black":"checkmated","played_as_white":"win","board":"https://api.chess.com/pub/match/live/5833/4"}],"fair_play_removals":[]}}}'
  recorded_at: Sat, 12 Dec 2020 02:18:32 GMT
recorded_with: VCR 6.0.0
